/*------------------------------------*\
  #Butler
\*------------------------------------*/

@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 400;
  src: local("Butler"), url("../fonts/Butler.woff2") format("woff2"),
    url("../fonts/Butler.woff") format("woff");
}

@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 300;
  src: local("ButlerLight"), url("../fonts/Butlerlight.woff2") format("woff2"),
    url("../fonts/Butlerlight.woff") format("woff");
}

@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 200;
  src: local("Butler UltraLight"), local("Butler-UltraLight"),
    url("../fonts/Butlerultralight.woff2") format("woff2"),
    url("../fonts/Butlerultralight.woff") format("woff");
}

/*------------------------------------*\
  #Roboto
\*------------------------------------*/

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/Robotobold.woff2") format("woff2"),
    url("../fonts/Robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/Robotomedium.woff2") format("woff2"),
    url("../fonts/Robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
