@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 400;
  src: local("Butler"), url("../fonts/Butler.woff2") format("woff2"),
    url("../fonts/Butler.woff") format("woff");
}

@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 300;
  src: local("ButlerLight"), url("../fonts/Butlerlight.woff2") format("woff2"),
    url("../fonts/Butlerlight.woff") format("woff");
}

@font-face {
  font-family: "Butler";
  font-weight: 200;
  src: local("Butler UltraLight"), local("Butler-UltraLight"),
    url("../fonts/Butlerultralight.woff2") format("woff2"),
    url("../fonts/Butlerultralight.woff") format("woff");
  font-style: normal;
}
