/*------------------------------------*\
  #GENERAL OPTIONS
\*------------------------------------*/

/**
 * The site has desktop and mobile versions. Swithing at mobile version occurs
 * at 700px. Also, it has fallbacks (grid to flex and writing-mode to 
 * transform).
 */

:root {
  font-size: 16px;
}


* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}


.html {
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}


.page {
  background-color: white;

  /* mobile viewport bug fix */
  min-height: 100vh;
  min-height: -webkit-fill-available;
}


.main {
  max-width: 90rem;
  margin: 0 auto;
  scroll-behavior: smooth;
}


.main-page,
.biography,
.designers,
.testimonials,
.strong-points {
  position:   relative;
  min-height: 47rem;
  max-height: 68rem;
  height:     100vh;
  text-align: center;
}


/* TODO: add navigation for descktop */
.menu {
  display: none;
}





/*------------------------------------*\
  #MAIN-PAGE DESKTOP
\*------------------------------------*/

.main-page__main-header {
  position:  relative;
  top:       50%;
  margin:    0;
  transform: translateY(-50%);

  white-space: nowrap;
  font-size:   1.15em;
  font-family: "Butler", sans-serif;
  font-weight: 300;
}

.main-page__secondary-header {
  display:  block;
  position: relative;
  top:      37%;
  margin:   0;

  font-family: "Roboto", sans-serif;
  font-size:   0.25em;
  font-weight: bold;
}

.main-page__page_titles {
  font-size:  5rem;
  text-align: center;

  position: absolute;
  top:     0;
  right:   0;
  bottom:  0;
  left:    0;
  z-index: 1;
  width:   33rem;
  height:  22rem;
  margin:  auto;
  background-color: white;
}

.main-page__main-image {
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  margin: auto;
  max-height: 40rem;
  height:     60vw;
  object-fit: cover;
}

/* .caption-bottom {
    position: absolute;
    bottom: 6%;
    right: 37%;
    font-size: 1.15rem;
    font-weight: 300;
    font-family: 'Butler', sans-serif;
    color: #8C8888;
} */





/*------------------------------------*\
  #BIOGRAPHY DESKTOP
\*------------------------------------*/

.header {
  font-family: "Roboto", sans-serif;
  font-size:   1.15rem;
  font-weight: bold;
}

@media (min-width: 700px) {

  .header--vertical {
    transform: rotate(-90deg);
  }
}

.biography__header {
  position:  absolute;
  bottom:    9.5%;
  right:     3%;
}

.biography__photo-wrap,
.biography__text-wrap {
  position: relative;
  width:    50%;
  height:   100%;
  float: left;
}

.biography__photo {
  display:    block;
  position:   relative;
  left:       19%;
  width:      77%;
  height:     auto;
  max-height: 100%;
  object-fit:      cover;
  object-position: center center;
  overflow:        hidden;
}

.biography__text-wrap {
  padding-top:  7%;
  padding-left: 8%;
  text-align: left;
}

.biography__name {
  font-size:   5.4rem;
  font-family: "Butler", sans-serif;
  font-weight: 300;

  margin-bottom: 2rem;
}

.biography__position {
  font-size:   1.1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color:     #636363;

  margin-top:    9%;
  margin-bottom: 0;
}

.biography__skills-list {
  font-size:   1.1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color:     #636363;

  padding-left:  0;
  margin-top:    0;
  margin-bottom: 4rem;
}

.biography__skills-item {
  display: inline-block;
  list-style-type: none;
}

.biography__skills-item::after {
  content: " /";
}

.biography__skills-item:last-child::after {
  content: none;
}

.biography__quote {
  font-size:   2rem;
  font-family: "Butler", sans-serif;
  font-weight: 200;
  quotes: "“" "”";
  
  margin-left:  0;
  margin-right: 32%;
  margin-top:   4%;
}

.biography__quote::before {
  content: open-quote;
}

.biography__quote::after {
  content: close-quote;
}

.biography__horizontal-break {
  height: 0.3rem;
  width:  1rem;
  background-color: black;
  margin-left: 0;
}

.biography::after {
  content: "";
  display: block;
  clear: both;
}

/* .caption-top {
    position: absolute;
    top: 10%;
    right: 37%;
    font-size: 1.15rem;
    font-weight: 300;
    font-family: 'Butler', sans-serif;
    color: #8C8888;
} */





/*------------------------------------*\
  #DESIGNERS DESKTOP
\*------------------------------------*/

.designers__header {
  position:  absolute;
  right:     26%;
  top:       13%;
}

@media (max-width: 900px) {

  .designers__header {
    right: 5%;
  }
}


.gallery {
  display:         flex;
  flex-flow:       row nowrap;
  justify-content: flex-start;
  align-items:     baseline;
  gap:             2%;
  overflow-x:      auto;
  overflow-y:      hidden;

  height: 75%;
}

.photo-block {
  overflow: hidden;
  text-align: left;
  margin: 0;
  height: 100%;
}

.gallery__photo-block {
  flex:     0 0 304px;
}

.photo-block__img {
  display: block;
  width:   100%;
  height:  65%;
  object-fit:      cover;
  object-position: center bottom;
  transition: 0.3s;
}

.photo-block__caption {
  max-height: 20%;
}

.photo-block__header {
  font-family: "Roboto", sans-serif;
  font-size:   1rem;
  font-weight: 700;

  margin:     0;
  margin-top: 1.5rem;
}

.photo-block__from,
.photo-block__skills {
  font-family: "Roboto", sans-serif;
  font-size:   1rem;
  font-weight: 400;

  margin: 0;
}
    
.gallery__photo-block--big-size {
    flex: 0 0 608px;
    margin-right: 6%;
  }
    
.gallery__photo-block--big-size > .photo-block__img {
  height: 80%;
}
    
.gallery__photo-block--big-size > .photo-block__caption {
  position:  relative;
  left:      50%;
  transform: translateX(-50%);
  width: fit-content;
}
    
.designers__gallery {
  position: relative;
  top:      12%;
}

/* gallery animation */
.designers__gallery:hover .photo-block__img {
  filter: grayscale(1);
}

.gallery__photo-block:hover .photo-block__img {
  filter:    grayscale(0);
  transform: scale(1.1) translateY(-5%);
}





/*------------------------------------*\
  #TESTIMONIALS DESKTOP
\*------------------------------------*/

.testimonials {
  display:         flex;
  flex-flow:       row wrap;
  justify-content: flex-start;
  align-items:     stretch;
  align-content:   stretch;
}

.testimonials__header {
  display:     flex;
  align-items: flex-end;
  width:  100%;
  height: 16%;
  padding-left:   12.5%;
  padding-bottom: 3%;
  margin:         0;
}

.testimonials__a-container {
  display:         flex;
  flex-flow:       column nowrap;
  justify-content: space-evenly;
  align-items:     end;
  order:           1;
  width: 12%;
  padding-right: 2.5%;
}

.testimonials__a-container-item {
  font-family:     "Roboto", sans-serif;
  text-align:      left;
  color:         black;
  text-decoration: none;
  font-weight:     400;
  font-size:       1rem;

  flex: 0 1 11rem;
  transform: translateX(82%) rotate(-90deg);
}

@supports (writing-mode: vertical-rl) {
  .testimonials__a-container-item {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }
}

.testimonials__photo {
  order: 2;
  width:  36%;
  height: 84%;
  object-fit:      cover;
  object-position: center center;
}

.testimonials__quote-img-container {
  display:    flex;
  flex-flow:  nowrap column;
  align-self: center;
  order:      3;
  margin:         auto;
  padding-left:   5%;
  padding-bottom: 12%;
}

.testimonials__quote {
  font-family: "Butler", sans-serif;
  font-weight: 200;
  font-size:   2rem;
  
  justify-self: start;
  align-self:   start;
  width:  13rem;
  margin: 0;
}

.testimonials__img {
  width:  14rem;
  height: auto;
  object-fit:      cover;
  object-position: center center;
  padding-top: 16%;
  margin:      auto;
}

@supports (display: grid) {
  .testimonials__header {
    display: block;
    grid-area:    header;
    justify-self: start;
    align-self:   end;
    width:  auto;
    height: auto;
    padding-bottom: 7%;
    padding-left:   0;
  }

  .testimonials {
    display:               grid;
    grid-template-columns: 12% 1fr 1fr;
    grid-template-rows:    16% repeat(3, 1fr);
    grid-template-areas:
      ". header ."
      "testimonials__a-container testimonials__photo testimonials__quote-img-container"
      "testimonials__a-container testimonials__photo testimonials__quote-img-container"
      "testimonials__a-container testimonials__photo testimonials__quote-img-container";
  }

  .testimonials__quote-img-container {
    grid-area: testimonials__quote-img-container;
    padding-left:   0;
    padding-right:  7%;
    padding-bottom: 19%;
  }

  .testimonials__quote {
    margin-left: 4%;
  }

  .testimonials__a-container {
    grid-area:    testimonials__a-container;
    justify-self: end;
    width: 100%;
    padding-right: 22%;
  }

  .testimonials__photo {
    grid-area: testimonials__photo;
    width:  100%;
    height: 100%;
    padding-right: 17%;
  }
}

.bold {
  font-weight: 700;
}





/*------------------------------------*\
  #STRONG-POINTS DESKTOP
\*------------------------------------*/

.strong-points__header {
  position: absolute;
  top:      16%;
  left:     30%;
}

.strong-points__gallery {
  position: relative;
  top:      14%;
  height:   42rem;
  align-items: flex-end;
}

.img-block {
  height: 525px;
  object-fit:      cover;
  object-position: bottom left;
  overflow:        hidden;
}

.gallery__img-block {
  flex: 1 0 351px;
  transition: 0.3s;
}

.list-block {
  text-align: left;
}

.gallery__list-block {
  flex:       1 0 351px;
  align-self: flex-start;
  align-self: start;
  padding-right: 10%;
  padding-left:  3%;
  transition: 0.3s;
}

@media (min-width: 700px) {

  .gallery__img-block:hover {
    transform: scale(1.1) translateY(-5%);
    margin: 0 3%;
  }

  .gallery__list-block:hover {
    transform: scale(1.07);
  }
}

.list-block__header {
  font-family: "Butler", sans-serif;
  font-size:   5.75rem;
  font-weight: 300;

  padding-top:  3%;
  padding-left: 2%;
  margin:       0;
}

.list-block-ul {
  list-style-type: none;
  padding-left: 25%;
  padding-top:  12%;
}

.list-block__item {
  font-family: "Butler", sans-serif;
  font-weight: 300;
  font-size:   2.1rem;
}

/* Наложение макета */
.layout-check {
  display: none;
  width: 1440px;
  height: 4559px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url(../images/MacBook\ Pro\ -\ 1.png) no-repeat center;
  opacity: 0.5;
  z-index: 2;
}

/* Заглушка для отключений ненужных секций */
/* section:nth-child(n+5) {
    display: none;
} */





@media (max-width: 700px) {

  section {
    min-width: 22.5rem;
    min-height: 34rem;
  }


  /*------------------------------------*\
    #MAIN-PAGE MOBILE
  \*------------------------------------*/

  .main-page__page_titles {
    top:    0;
    margin: 0;
    width:  100%;
    height: 45%;
  }

  .main-page__main-image {
    display:    block;
    height:     100%;
    width:      100%;
    max-height: none;
    margin:     0;
    object-fit:      none;
    object-position: bottom center;
  }

  .main-page__main-header {
    font-size: 0.87em;
    top: 68%;
  }

  .main-page__secondary-header {
    top: 69%;
  }


  @media (max-height: 700px) {
    
    .main-page__main-image {
        object-position: center;
    }

    .main-page__main-header {
      top: 50%;
    }

    .main-page__secondary-header {
      top: 56%;
    }
  }





  /*------------------------------------*\
    #BIOGRAPHY MOBILE
  \*------------------------------------*/

  .biography {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
  }

  .biography__header {
    top:    5%;
    right:  7%;
    margin: 0;
  }

  .biography__text-wrap {
    display:         flex;
    flex-flow:       column nowrap;
    justify-content: flex-start;
    order:           1;
    width:   100%;
    padding: 0;
  }

  .biography__position {
    order: 1;
    margin:       0;
    padding-top:  11%;
    padding-left: 7%;
  }

  .biography__skills-list {
    order: 2;
    margin:       0;
    padding-left: 7%;
  }

  .biography__skills-item {
    display: block;
  }
    
  .biography__horizontal-break {
    display: none;
  }

  .biography__quote {
    order: 3;
    padding-left:  7%;
    padding-right: 7%;
    padding-top:   22%;
    margin:        0;
  }

  .biography__name {
    position:   relative;
    top:        7%;
    z-index: 10;
    margin:     0;
    margin-top: auto;
  

    order:        4;
    align-self:   center;
    justify-self: flex-end;

    white-space: nowrap;
    font-size:   4.5rem;
  }

  .biography__break-name {
    display: none;
  }

  .biography__name::before {
    content: "-";
  }

  .biography__photo-wrap {
    position: relative;
    top:      3%;
    width:    100%;
    height:   65%;

    order: 2;
  }

  .biography__photo {
    position: static;
    width:    100%;
    height:   90%;
    overflow:        hidden;
    object-position: top;
  }


  @media (max-height: 700px) {
    
    .biography {
        min-height: 40rem;
    }
  
    .biography__quote {
      padding-top: 5%;
    }

    .biography__name {
      top:     8%;
      z-index: 2;
    }
  }




  
  /*------------------------------------*\
    #DESIGNERS MOBILE
  \*------------------------------------*/

  .designers__header {
    right: 9%;
    top:   9%;
  }

  .gallery {
    overflow-y: visible;
    gap:        6%;
  }

  .designers__gallery {
    top:           20%;
    padding-right: 0;
    padding-left:  8%;
  }

  .gallery__photo-block {
    flex: 1 0 262px;
  }

  .photo-block__img {
    height: 440px;
  }

  .gallery__photo-block--big-size {
    flex: 1 0 262px;
    order: 3;
    margin-right: 0;
  }

  .gallery__photo-block--big-size .photo-block__img {
    height: 440px;
    object-position: bottom center;
  }

  .gallery__photo-block--big-size .photo-block__caption {
    position: static;
    transform: none;
  }


  @media (max-height: 700px) {

    .designers {
        min-height: 37rem;
      }
  
      .gallery__photo-block {
        top: 12%;
        min-height: 33rem;
      }
  
      .designers__header {
        top: 4%;
      }
  }





  /*------------------------------------*\
    #TESTIMONIALS MOBILE
  \*------------------------------------*/

  .testimonials {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding-top: 4%;
  }

  .testimonials__header {
    display:         flex;
    justify-content: flex-end;
    order:           1;
    width:         100%;
    padding-right: 10%;
  }

  .testimonials__quote-img-container {
    display:         flex;
    flex-flow:       nowrap column;
    justify-content: space-between;
    align-self:      center;
    order:           2;
    width:   100%;
    height:  75%;
    margin:  0;
    padding: 22% 7% 0 7%;
  }

  .testimonials__a-container {
    display:         flex;
    flex-flow:       row wrap;
    justify-content: space-between;
    align-items:     flex-start;
    align-content:   space-between;
    justify-self:    self-end;
    order:           3;
    width:  100%;
    height: 13%;
    padding:    0 7%;
    margin-top: auto;
  }

  .testimonials__a-container-item {
    font-family:     "Roboto", sans-serif;
    text-align:      left;
    color:         black;
    text-decoration: none;
    font-weight:     400;
    font-size:       1rem;
    writing-mode:    unset;

    transform: none;
  }

  .testimonials__photo {
    display: none;
  }

  .testimonials__quote {
    font-family: "Butler", sans-serif;
    font-weight: 200;
    font-size:   2rem;
    width:  94%;
    margin: 0 auto;
    justify-self: center;
  }

  .testimonials__img {
    width:  100%;
    height: 58%;
    margin:  0;
    padding: 0;
    object-fit:      cover;
    object-position: center center;
  }

  @media (max-width: 410px) {
    .testimonials__a-container-item {
      font-size: 0.9rem;
      flex-basis: 9rem;
    }
  }

  @media (max-height: 700px) {
    .testimonials__header {
        padding-bottom: 2%;
        padding-top:    2%;
      }
  
      .testimonials__quote-img-container {
        justify-content: flex-start;
        gap:             5%;
        overflow:        hidden;
        height:      80%;
        padding-top: 0;
      }
  
      .testimonials__img {
        height: 70%;
      }
  
      .testimonials__a-container-item {
        font-size: 0.9rem;
        transform: none;
        flex-basis: 9rem;
        padding-bottom: 0%;
        padding-bottom: 5%;
      }
  }





  /*------------------------------------*\
    #STRONG-POINTS MOBILE
  \*------------------------------------*/

  .strong-points__header {
    top:   16.5%;
    left:  unset;
    right: 9%;
  }

  .gallery__list-block {
    flex:  auto;
    order: 1;
    width:     60%;
    max-width: 351px;
    transform: translate(-21px, 12px);
  }

  .gallery__img-block:nth-of-type(1) {
    order: 2;
  }

  .gallery__img-block:nth-of-type(2) {
    order: 3;
  }

  .gallery__img-block:nth-of-type(3) {
    order: 4;
  }

  .strong-points__gallery {
    top: 27%;
  }

  .list-block__header {
    padding-top:  0;
    padding-left: 20%;
  }

  .gallery__img-block {
    margin-bottom: 2%;
  }

  @media (max-height: 700px) {
    .strong-points__header {
        top: 3%;
      }
  
      .gallery__img-block {
        flex-basis: 245px;
        height:     420px;
      }
  
      .list-block-ul {
        padding-top: 0;
      }
  
      .list-block__item {
        font-size: 1.8rem;
      }
  
      .list-block__header {
        font-size: 4.5rem;
      }
  
      .gallery__list-block {
        padding-top: 6%;
      }
  
      .strong-points__gallery {
        height: 34rem;
        top:    3%;
        overflow-y: hidden;
      }
  }





  /*------------------------------------*\
    #NAVIGATION MOBILE
  \*------------------------------------*/ 

  .page {
    padding-bottom: 6rem;
  }


  .menu {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-height: 3rem;
    height: 8%;
    max-height: 5rem;
    min-width: 22.5rem;
    border-top: 1px solid black;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: white;
  }

    .menu__link {
      font-family: "Butler", sans-serif;
      font-weight: 500;
      font-size: 2.5rem;
      text-decoration: none;
      color: black;
    }

      .menu__text {
        display: none;
      }

    .menu__link:first-child {
      display: none;
    }

    .menu__link:nth-child(2)::after {
      content: "B";
    }

    .menu__link:nth-child(3)::after {
      content: "D";
    }

    .menu__link:nth-child(4)::after {
      content: "T";
    }

    .menu__link:nth-child(5)::after {
      content: "S";
      text-decoration: underline;
    }





  /* Наложение макета */
  .layout-check {
    /* display: block; */
    width: 428px;
    height: 4641px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url(../images/iPhone\ 13\ Pro\ Max\ -\ 1.jpg) no-repeat center;
    opacity: 0.5;
    z-index: 2;
  }

  /* Заглушка для отключений ненужных секций */
  /* section:nth-child(n+6) {
        display: none;
    } */
}
