:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* Прячем навигацию */
header {
    display: none;
}

body {
    background-color: white;
}

main {
    max-width: 90rem;
    margin: 0 auto;
}

section {
    position: relative;
    min-height: 47rem;
    max-height: 68rem;
    height: 100vh;
    text-align: center;
}


/* section main-page */
.main-image {
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 40rem;
	height: 60vw;
}

.main-title {
    position: absolute;
    background-color: white;
    font-size: 5rem;
    width: 33rem;
    height: 22rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    text-align: center;
}

.main-title h1 {
    position: relative;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.15em;
    font-family: 'Butler', sans-serif;
    font-weight: 300;
    margin: 0;
}

.main-title h2 {
    display: block;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 0.25em;
    top: 37%;
    font-weight: bold;
    margin: 0;
}

/* .caption-bottom {
    position: absolute;
    bottom: 6%;
    right: 37%;
    font-size: 1.15rem;
    font-weight: 300;
    font-family: 'Butler', sans-serif;
    color: #8C8888;
} */


/*section biography*/
.biography-image, .biography-text {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}

.biography-image  img {
    display: block;
    position: relative;
    width: 77%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    left: 19%;
}

.biography-text {
    padding-top: 7%;
    padding-left: 8%;
    text-align: left;
}

.biography-text h3 {
    font-size: 5.4rem; 
    margin-bottom: 2rem;  
    font-family: 'Butler', sans-serif;
    font-weight: 300;
}

.biography h2 {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
    bottom: 9.5%;
    right: 3%;
    transform: rotate(-90deg); 
}

.biography-text h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #636363;
    margin-top: 9%;
}

.biography-text ul{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #636363;
}

.biography-text ul li {
    display: inline-block;
    list-style-type: none;
}

.biography-text ul li::after {
    content: " /";
}

.biography-text ul li:last-child::after {
    content: none;
}

.biography-text blockquote {
    margin-left: 0;
    margin-right: 32%;
    margin-top: 4%;
    font-size: 2rem;
    font-family: 'Butler', sans-serif;
    font-weight: 200;
    quotes: "“" "”";
}

.biography-text blockquote::before {
    content: open-quote;
}

.biography-text blockquote::after {
    content: close-quote;
}

.biography-text hr {
    height: 0.3rem;
    width: 1rem;
    background-color: black;
    margin-left: 0;
}


/* .caption-top {
    position: absolute;
    top: 10%;
    right: 37%;
    font-size: 1.15rem;
    font-weight: 300;
    font-family: 'Butler', sans-serif;
    color: #8C8888;
} */

.biography::after {
    content: "";
    display: block;
    clear: both;
}


/*section designers*/
.designers h2 {
    position: absolute;
    transform: rotate(-90deg);
    font-size: 1.15rem;
    right: 26%;
    top: 13%;
}

.designers .flex-container {
    display: flex;
    height: 75%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 2%;
    position: relative;
    top: 12%;
    padding-right: 5rem;
}

.designers .flex-container figure {
    text-align: left;
    margin: 0;
    height: 100%;
    flex: 1 1 10%;
}

.designers .flex-container figure img {
    display: block;
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: center bottom;
}

.designers .flex-container figure figcaption {
    max-height: 20%;
}

.designers .flex-container figure:first-child {
    flex: 2 1 20%;
    margin-right: 7%;
}

.designers .flex-container figure:first-child img {
    height: 80%;
}

.designers .flex-container figure:first-child figcaption {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.designers figcaption p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.designers h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    margin-top: 1.5rem;
}


/*section testimonials*/
.testimonials {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.testimonials h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    height: 16%;
    display: flex;
    align-items: flex-end;
    padding-left: 12.5%;
    padding-bottom: 3%;
    margin: 0;
}

.testimonials .flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: end;
    width: 12%;
    padding-right: 2.5%;
    order: 1;
}

.testimonials .flex-container a { 
    text-align: left;
    flex: 0 1 11rem;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    transform: translateX(82%) rotate(-90deg);
}

@supports (writing-mode: vertical-rl) {
    .testimonials .flex-container a {
        transform: rotate(180deg);
        writing-mode: vertical-rl;
    }
}

.left-image {
    width: 36%;
    height: 84%;
    object-fit: cover;
    object-position: center center;
    order: 2;
}

.flex-container-right {
    display: flex;
    flex-flow: nowrap column;
    order: 3;
    align-self: center;
    margin: auto;
    padding-left: 5%;
    padding-bottom: 12%;
}

.testimonials blockquote {
    font-family: 'Butler', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    width: 13rem;
    justify-self: start;
    align-self: start;
    margin: 0;
}

.right-image {
    width: 14rem;
    height: auto;
    object-fit: cover;
    object-position: center center;
    margin: auto;
    padding-top: 16%;
}

@supports (display: grid) {
    .testimonials h2 {
        display: block;
        width: auto;
        height: auto;
        grid-area: header;
        justify-self: start;
        align-self: end;
        padding-bottom: 7%;
        padding-left: 0;
    }
    
    .testimonials {
        display: grid;
        grid-template-columns: 12% 1fr 1fr;
        grid-template-rows: 16% repeat(3, 1fr);
        grid-template-areas: 
            ". header ."
            "flex-container left-image flex-container-right"
            "flex-container left-image flex-container-right"
            "flex-container left-image flex-container-right";
    }

    .flex-container-right {
        grid-area: flex-container-right;
        padding-left: 0;
        padding-right: 7%;
        padding-bottom: 19%;
    }

    .flex-container-right blockquote {
        margin-left: 4%;
    }
    
    .testimonials .flex-container {
        grid-area: flex-container;
        justify-self: end;
        padding-right: 22%;
        width: 100%;
    }
        
    .left-image {
        grid-area: left-image;
        width: 100%;
        height: 100%;
        padding-right: 17%;
    }   
}

.bold {
    font-weight: 700;
}

/* section strong-points */
.strong-points h2 {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    top: 12%;
    left: 32%;
}

.strong-points .flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 2%;
    align-items: flex-end;
    height: 42rem;
    position: relative;
    top: 14%;
    overflow-x: auto;
}

.strong-points img {
    flex: 1 0 351px;
    height: 525px;
    object-fit: cover;
    object-position: bottom left;
    overflow: hidden;
}

.flex-item-strengths {
    align-self: flex-start;
    align-self: start;
    text-align: left;
    padding-right: 10%;
    padding-left: 3%;
    flex: 1 0 351px;
}

.strong-points h3 {
    font-family: 'Butler', sans-serif;
    font-size: 5.75rem;
    font-weight: 300;
    margin: 0;
    padding-top: 3%;
    padding-left: 2%;
}

.strong-points ul {
    list-style-type: none;
    padding-left: 25%;
    padding-top: 12%;
}

.strong-points li {
    font-family: 'Butler', sans-serif;
    font-weight: 300;
    font-size: 2.1rem;
}


/* Наложение макета */
.layout-check {
    display: none;
    width: 1440px;
    height: 4559px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url(../images/MacBook\ Pro\ -\ 1.png) no-repeat center;
    opacity: 0.5;
    z-index: 2;
}

/* Заглушка для отключений ненужных секций */
/* section:nth-child(n+5) {
    display: none;
} */

@media (max-width: 700px) {
    section {
        min-width: 22.5rem;
    }

    /* section main-page */
    .main-title {
        top: 0;
        margin: 0;
        width: 100%;
        height: 45%;
    }

    .main-title h1 {
        font-size: 0.87em;
        top: 68%;
    }

    .main-title h2 {
        top: 69%;
    }

    .main-image {
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
        max-height: none;
        object-fit: none;
        object-position: bottom center;
    }

    /* section biography */
    .biography {
        display: flex;
        flex-flow: column nowrap;
    }

    .biography-text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        order: 1;
        width: 100%;
        padding: 0;
    }

    .biography-text h4 {
        order: 1;
        margin: 0;
        padding-top: 11%;
        padding-left: 7%;
    }

    .biography-text ul {
        order: 2;
        margin: 0;
        padding-left: 7%;
    }

    .biography-text blockquote {
        order: 3;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 22%;
        margin: 0;
    }

    .biography-text h3 {
        white-space: nowrap;
        font-size: 4.5rem;
        order: 4;
        align-self: center;
        margin: 0;
        justify-self: flex-end;
        margin-top: auto;
        position: relative;
        top: 7%;
    }

    .biography-text ul li {
        display: block;
    }

    .biography-image {
        order: 2;
        width: 100%;
        height: 58%;
        position: relative;
        top: 3%;
        height: 65%;
    }

    .biography-image img {
        position: static;
        width: 100%;
        height: 100%;
    }

    .biography h2 {
        transform: none;
        top: 5%;
        right: 7%;
        margin: 0;
    }

    .biography h3::before {
        content: "-";
    }

    .biography br, hr {
        display: none;
    }


    /* section designers */
    .designers h2 {
        transform: none;
        right: 9%;
        top: 9%;
    }

    .designers .flex-container {
        overflow-y: visible;
        overflow-x: auto;
        padding-right: 0;
        padding-left: 8%;
        gap: 6%;
        top: 20%;
    }

    .designers .flex-container figure img {
        height: 440px;
    }

    .designers .flex-container figure:first-child img {
        height: 440px;
        object-position: bottom center;
    }

    .designers .flex-container figure {
        flex: 1 0 262px;
    }

    .designers .flex-container figure:first-child {
        flex: 1 0 262px;
        margin-right: 0;
        order: 3;
    }

    .designers .flex-container figure:nth-child(3) figcaption {
        width: fit-content;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    /* section testimonials */
    .testimonials {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        padding-top: 4%;
    }
    
    .testimonials h2 {
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%;
        display: flex;
        order: 1;
        justify-content: flex-end;
        padding-right: 10%;
    }
    
    .testimonials .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 13%;
        order: 3;
        padding: 0 7%;
        justify-self: self-end;
        margin-top: auto;
    }
    
    .testimonials .flex-container a { 
        text-align: left;
        color: black;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        transform: none;
        writing-mode: unset;
    }

    .testimonials .flex-container a:last-child {
        margin-top: auto;
    }

    .left-image {
        display: none;
    }
    
    .flex-container-right {
        display: flex;
        flex-flow: nowrap column;
        order: 2;
        align-self: center;
        width: 100%;
        height: 75%;
        margin: 0;
        padding: 22% 7% 0 7%;
        justify-content: space-between;
    }
    
    .testimonials blockquote {
        font-family: 'Butler', sans-serif;
        font-weight: 200;
        font-size: 2rem;
        width: 94%;
        justify-self: center;
        margin: 0 auto;
    }
    
    .right-image {
        width: 100%;
        height: 58%;
        margin: 0;
        padding: 0;
        object-fit: cover;
        object-position: center center;
    }


    /* section strong points */
    .strong-points h2 {
        transform: none;
        writing-mode: unset;
        top: 16.5%;
        left: unset;
        right: 9%;
    }

    .flex-container .flex-item-strengths {
        order: 1;
        max-width: 351px;
        width: 60%;
        flex: auto;
        transform: translate(-21px, 12px);
    }

    .flex-container img:nth-of-type(1) {
        order: 2;
    }

    .flex-container img:nth-of-type(2) {
        order: 3;
    }

    .flex-container img:nth-of-type(3) {
        order: 4;
    }

    .strong-points .flex-container {
        top: 27%;
    }

    .strong-points h3 {
        padding-top: 0;
        padding-left: 20%;
    }

    .strong-points img {
        margin-bottom: 2%;
    }

    /* Наложение макета */
    .layout-check {
        /* display: block; */
        width: 428px;
        height: 4641px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: url(../images/iPhone\ 13\ Pro\ Max\ -\ 1.jpg) no-repeat center;
        opacity: 0.5;
        z-index: 2;
    }

    /* Заглушка для отключений ненужных секций */
    /* section:nth-child(n+6) {
        display: none;
    } */
}
