/*------------------------------------*\
  #GENERAL SETTINGS
\*------------------------------------*/

:root {
  font-size: 16px;
}


.biography,
.testimonials {
  height: 100vh;
  position: relative;
}

@media (min-width: 728px) {

  section {
    min-height: 728px;
  }
  
}





/*------------------------------------*\
  #MAIN-PAGE
\*------------------------------------*/

.main-title {
  font-family: 'Butler', sans-serif;
  font-size:   4.375rem;
  font-weight: 300;
  white-space: nowrap;
}

.secondary-title {
  font-family: 'Roboto', sans-serif;
  font-size:   1.125rem;
  font-weight: 500;
}



@media (min-width : 768px) {

  .main-title {
    font-size: 5.5rem;
  }

  .secondary-title {
    font-weight: 700;
  }
}





/*------------------------------------*\
  #BIOGRAPHY
\*------------------------------------*/

.biography__skills {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size:   1.125rem;
  color:     #636363;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size:   1.125rem;
}

.biography__blockquote {
  font-family: 'Butler', sans-serif;
  font-weight: 200;
  font-size:   2rem;
}

.biography__name {
  font-family: 'Butler', sans-serif;
  font-weight: 300;
  font-size:   4.5rem;
  white-space: nowrap;
}


@media (min-width: 768px) {

  .header--vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  .biography__name {
    font-size:   5.4rem;
  }

}





/*------------------------------------*\
  #TESTIMONIALS
\*------------------------------------*/

.testimonials {
  padding: 0 5%;
}

.testimonials__header {
  align-self: flex-end;
  margin-top: 2%;
}

.testimonials__blockquote {
  font-family: 'Butler', sans-serif;
  font-weight: 200;
  font-size:   2rem;
  text-align:  center;

  padding-top:    10vh;
  padding-bottom: 5vh;

  flex: 0 1 auto;
}

.testimonials__quote-image {
  flex: 1 1 auto;
  object-fit:      cover;
  object-position: center;
  width:  100%;
  height: 10%;
}

.testimonials__quote-container {
  flex: 1 1 auto;
  height: 10%;
}

.bold {
  font-weight: 700;
}

.anchor {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size:   1rem;
  color:     black;
  text-decoration: none;

  padding-top: 2vh;
}


@media (min-width: 768px) {

  .testimonials {
    padding-top:  8%;
    padding-left: 1%;
  }

  .testimonials__header {
    position: absolute;
    left:     10%;
    top:      3%;
  }

  .testimonials__container {
    flex: 1 0 auto;
  }

  .anchor--vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .testimonials__image {
    object-fit:      cover;
    object-position: center;
    width:  100%;
    height: 100%;
  }

  .testimonials__quote-container {
    height:         100%;
    padding-left:   10%;
    padding-right:  3%;
    padding-bottom: 7%;

    flex: 1 0 auto;
  }

  .testimonials__blockquote {
    flex: 1 1 50%;
    height: 50%;
  }

  .testimonials__quote-image {
    flex: 1 1 50%;
    height: 50%;
  }

}

@media (min-width: 992px) {

  .testimonials__quote-container {
    padding-left: 15%;
  }

  .testimonials__blockquote {
    padding: 0 10%;
  }

}

@media (min-width: 1200px) {

  .testimonials__quote-container {
    padding-left:  23%;
    padding-right: 5%;
  }

  .testimonials__blockquote {
    padding: 0 6%;
  }

}